/*Màn Hình Chính báo cáo Staff*/
/*<=============================================================================================*/

body > table > tbody > tr:nth-of-type(3) > td{
    position: sticky;
    top: -1px;
    border-bottom: none !important;
    box-shadow: inset 0px -1px 0 #000000;
    z-index: 2;
}

body > table > tbody > tr:nth-of-type(3) > td:nth-of-type(1),
body > table > tbody > tr:nth-of-type(3) > td:nth-last-of-type(1) {
    box-shadow: none !important;
}

.popup-link-header{
    z-index:3 !important;
    box-shadow: inset -1px -1px 0 #000000 !important;
}

body > table > tbody > tr > td:nth-of-type(3){
    position: sticky;
    left: -1px;
    box-shadow: inset -1px 0px 0 #000000;
    background-color: #fff;
    border-right: none !important;
    z-index:1;
}

body > table > tbody > tr > td:nth-of-type(4){
    border-left: none !important;
}

body > table > tbody > tr:nth-of-type(4) > td{
    border-top: none !important;
}

.cust-full-name-main-header, .cust-full-name-main, .cust-full-name-main-footer{
    position: sticky;
    left: 128px;
    background-color: #fff;
    box-shadow: inset -1px 0px 0 #000000;
    border-right: none !important;
}

.open-date-header, .open-date, .open-date-footer{
    border-left: none !important;
}

.cust-full-name-main-header{
    z-index: 5 !important;
    box-shadow: inset -1px -1px 0 #000000 !important;
}

/*===============================================================================>*/

.modal-body > table > tbody > tr > td:nth-of-type(2) > table > tbody > tr:nth-of-type(3) > td {
    top: -16px !important;
    z-index: 5;
    position: sticky;
    box-shadow: inset 0 1px 0 #000000, inset 0 -1px 0 #000000;
    border-bottom: none !important;
    border-top: none !important;
}

.modal-body > table > tbody > tr > td:nth-of-type(2) > table > tbody > tr > td:nth-of-type(3) {
    position: sticky;
    left: 112px;
    border-right: none !important;
    border-left: none!important;
    background-color: #ffffff;
}

.cust-full-name {
    z-index: 15!important;
    box-shadow: inset 0px 0px 0 #000000, inset -1px 0px 0 #000000 !important;
}

.cust-full-name-footer, .cust-full-name-header, .cust-full-name {
    position: sticky;
    box-shadow: inset 0px 0px 0 #000000, inset -1px 0px 0 #000000;
    left: 179px;
    border-right: none !important;
    border-left: none !important;
    z-index: 15 !important;
    background-color: #ffffff;
}

.modal-body > table > tbody > tr > td:nth-of-type(2) > table > tbody > tr > td:nth-of-type(2) {
    position: sticky;
    left: -18px;
    border-right: none !important;
    background-color: #ffffff;
    box-shadow: inset 0px 0 0 #000000, inset -1px 0 0 #000000;
}

.cust-full-name-header,
.accNo-popup-nsr-detail-header,
.accNo-popup-portfolio-header,
.accNo-popup-nav-detail-header,
.accNo-popup-average-nav-header,
.accNo-popup-aum-detail-header,
.accNo-popup-average-aum-header
{
    z-index: 16!important;
    box-shadow: inset 0px 1px 0 #000000, inset -1px -1px 0 #000000 !important;
}

.modal-body > table > tbody > tr > td:nth-of-type(2) > table > tbody > tr:nth-of-type(4) > td {
    border-top: none !important;
}

.modal-body > table > tbody > tr > td:nth-of-type(2) > table > tbody > tr > td:nth-of-type(4) {
    border-left: none !important;
}

.modal-body > table > tbody > tr > td:nth-of-type(2) > table > tbody > tr:nth-of-type(3) > td:nth-of-type(1),
.modal-body > table > tbody > tr > td:nth-of-type(2) > table > tbody > tr:nth-of-type(3) > td:nth-last-of-type(1) {
    box-shadow: none !important;
}

.symbol, .symbol-footer{
    position: sticky;
    left: 292px;
    background-color: #fff;
    z-index: 20 !important;
    border-right: none !important;
    box-shadow: inset 0px 0px 0 #000000, inset -1px 0px 0 #000000 !important;
}
.symbol-header{
    position: sticky;
    left: 292px;
    background-color: #fff;
    z-index: 25 !important;
    border-right: none !important;
    box-shadow: inset 0px 1px 0 #000000, inset -1px -1px 0 #000000 !important;
}

.trade-quantity-header, .trade-quantity, .trade-quantity-footer{
    border-left: none !important;
}
