*/.classpath
*/.project
*/target/
*/bin/
*/logs/
*/*.db
*/log/
*/*.log
*/.settings/
*/export/
.DS_Store
*/.DS_Store
.metadata/
.recommenders/
.project
.settings/
*/.idea
*.iml
*/.iml
*/.csv
.idea/
*.jasper
**/*.jasper
*/*.json
